/* Réinitialisation de styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
    color: #234674;
}

footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

footer p {
    color: #777;
}

.turing-machine {
    width: 60%;
    margin-bottom: 20px;
}

.controls, .details {
    width: 25%;
}

.controls button, .details h2 {
    margin-bottom: 10px;
}

.counter, .current-state, .calculation {
    margin-bottom: 20px;
}

.counter p, .current-state p, .calculation p {
    font-size: 1.2em;
    color: #555;
}

button {
    background-color: #234674;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0c2c52;
}

/* Médias Queries */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .turing-machine, .controls, .details {
        width: 100%;
    }
}
